/* COPYRIGHT 2009-2010 Daniel Beames and WebOS-Internals                        */
/* Redistribute only with explicit permission in writing from original author.  */

body
{
	margin-top:    		0;
	margin-bottom: 		0;
	margin-left:   		0;
	margin-right:  		0;

	padding: 			0;

	font-size:			10px;
	font-family:  		Verdana;
	color: 				#000000;

	background-color:   #CCCCCC;
}

a.copyright:link,a.copyright:visited
{
	color:				#000000;
	font:				9px verdana;
	text-decoration: 	underline;
}
a.copyright:active
{
	color:				#CC0000;
	font:				9px verdana;
	text-decoration: 	none;
}
a:link,a:visited {
	color:				#000000;
	font:				12px verdana;
	text-decoration: 	underline;
}
a:active
{
	color:				#CC0000;
	font:				12px verdana;
	text-decoration: 	none;
}
a.copyright:hover,a:hover
{
	color: 				#CC0000;
	text-decoration: 	none;
}
table
{
	font-size:			12px;
	font-family:		Verdana;
}
td.header
{
	border:				1px solid #000000;
	font-weight:		bold;
	height:				23px;
	background-color:	#999999;
	font-size:			18px;
}
td.header2
{
	border:				1px solid #000000;
	font-weight:		bold;
	height:				23px;
	background-color:	#999999;
	font-size:			10px;
}
td.footer
{
	border:				1px solid #000000;
	font-weight:		bold;
	height:				23px;
	background-color:	#999999;
}
td.cell 
{
	border:				1px solid #000000;
}
td.cell2
{
	border:				1px solid #000000;
	font-weight:		bold;
	height:				23px;
}
td.cell3
{
	border-left:		1px solid #000000;
	font-weight:		bold;
	height:				23px;
}
td.cell4
{
	border-right:		1px solid #000000;
	height:				23px;
	font-size:		9px;	
}
td.cell5
{
	border-left:		1px solid #000000;
	border-bottom:		1px solid #000000;
	border-right:		1px solid #000000;
	border-top:			1px solid #000000;
font-size:9px;
}
td.cell6
{
	border-left:		1px solid #000000;
	border-bottom:		1px solid #000000;
}
td.cell7
{
	border-right:		1px solid #000000;
	border-bottom:		1px solid #000000;
}
td.cell8
{
	font-weight:		bold;
}
td.cell9
{
	border-left:		1px solid #000000;
	border-bottom:		1px solid #000000;
	border-right:		1px solid #000000;
}
td.cell10
{
	font-weight:		bold;
	border-left:		1px solid #000000;
	border-bottom:		1px solid #000000;
}
td.cell11
{
	font-weight:		bold;
	border-left:		1px solid #000000;
	border-top:			1px solid #000000;
}
td.cell12
{
	border-right:		1px solid #000000;
	border-top:			1px solid #000000;
	font-size:		9px;
}
td.cell13
{
	border-bottom:		1px solid #000000;
	font-weight:		bold;
}
td.cell14
{
	border-top:			1px solid #000000;
	font-weight:		bold;
}
td.cellfooter1
{
	border-right:		1px solid #000000;
	height:				23px;
	padding-right:		12px;
	background-color:	#66CCFF;
}
td.cellfooter2
{
	border-left:		1px solid #000000;
	height:				23px;
	padding-left:		12px;
	background-color:	#66CCFF;
}
tr.row1 
{
	background-color:	#CCCCCC;
}
tr.row2
{
	background-color:	#999999;
}
td.copyright
{
	font-size:			9px;
}
td.errors
{	
	border-left:		1px solid #000000;
	border-right:		1px solid #000000;
	font-weight:		bold;
	color:				#FF0000;
}
input.uploadpatch
{
	background-color: 	#999999;
	border: 			1px inset #FFFFFF;
	color:			#000000;
}
textarea.uploadpatch
{
	background-color: 	#999999;
	border: 			1px inset #FFFFFF;
	color:			#000000;
}
select.uploadpatch
{
	background-color: 	#999999;
	border: 			1px inset #FFFFFF;
	font-size:			12px;
	font-family: 		Verdana;
	color:			#000000;
}
