<li${id} #{id}{id}$${onclick} onclick="#{onclick}"{onclick}$> 
  <div class="left"> 
    <a href="#"><img class="avatar" src="http://pilu.github.com/web-app-theme/images/avatar.png" alt="avatar" /></a> 
  </div> 
  <div class="item">
	<div style="width:33%;float:left">
		<div style="width:95%;margin:auto">
		<p><b>Patch Name:</b> This is a patch that has an extralong name</p>
		<p><b>Category:</b> Non-Existant-Ness</p>
		<p><b>Revisions:</b>
		<ul>
			<li>10 (2 days ago)</li>
			<li>9 (28 days ago)</li>
		</ul>
		</p>
		</div>
	</div >
		<div style="width:33%;float:left">
			<div style="width:95%;margin:auto">
		<p><b>Description:</b></br>
		asdo oiasd fhasd This is long and annoying and is all his doing I swear look officer its a bear attacking a large child with  machine gun.</p>
		</div>
	</div> 
	<div style="width:33%;float:left">
		<div style="width:95%;margin:auto">
			<div style="float:left;width:50%">
				<p><b>WebOS:</b>
				<ul>
					<li>2.0.1 (10)</li>
					<li>1.4.5 (10)</li>
					<li>1.4.0 (9)</li>
				</ul>
				</p>
			</div>
			<div style="float:left;width:50%">
				<p><b>Device:</b>
				<ul>
					<li>Pre (10)</li>
					<li>Pixi (10)</li>
					<li>Veer (9)</li>
				</ul>
				</p>
			</div>
			<div style="clear:both"></div>
			<p>Maintainer: The Guy in the bottle</p>
		</div>
	</div>
	<div style="clear:both"></div>
    <p>#{contesnt}</p> 
  </div> 
</li>