
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>#{header.title}</title> 
  <link rel="stylesheet" href="http://pilu.github.com/web-app-theme/stylesheets/base.css" type="text/css" media="screen" /> 
  <link rel="stylesheet" id="current-theme" href="http://pilu.github.com/web-app-theme/stylesheets/themes/default/style.css" type="text/css" media="screen" /> 
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script>
	$(document).ready(function() {
   // do stuff when DOM is ready
	$(".searchRemove").click(function(){
		$(this).parent().parent().parent().slideUp(function(){
			$(this).remove()
		})
	})
	$(".searchAdd").click(function(){
		$.ajax({
		  url: "/api/search/new",
		  context: document.body,
		  success: function(data){
		    console.log(data)
		  }
		});
		console.log($(this).parent().parent())
	})
 	});
  </script>

</head> 
<body> 
  <div id="container"> 
    <div id="header"> 
      <h1><a href="/">#{header.title}</a></h1> 
      <div id="user-navigation"> 
        <ul class="wat-cf">
	 				#{header.userLinks}
        </ul> 
      </div> 
      <div id="main-navigation"> 
        <ul class="wat-cf"> 
	
					#{header.mainLinks}
        </ul> 
      </div> 
    </div> 
    <div id="wrapper" class="wat-cf"> 
      <div id="main">
	      
				#{content}
        <div id="footer"> 
          <div class="block"> 
            <p>#{footer}</p> 
          </div> 
        </div> 
      </div> 
      <div id="sidebar"> 
				#{sidebar}
      </div> 
    </div> 
    <div id="box"> 
    </div> 
  </div> 
</body> 
</html> 
