<?php

/* COPYRIGHT 2009-2010 Daniel Beames and WebOS-Internals 			*/
/* Redistribute only with explicit permission in writing from original author.  */

// Rename file to config.php after changes are made


if(!defined('IN_SCRIPT')) {
  die("Hacking attempt!!!");
}

$dbtype      = 'mysql';              // mysql is only valid option ATM

$servername  = 'localhost';          // hostname of mysql server
$dbname      = 'this_database';      // mysql database
$dbusername  = 'db_user';            // mysql username
$dbpassword  = 'db_p@ssword';        // mysql password

define('TABLE_PREFIX', "patches_");  // Abbrevation for tables

$wikiun = 'wiki-username';           // Username for WebOS-Internals wiki
$wikipw = 'wiki-password';           // Password for WebOS-Internals wiki

?>
