<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first">
        <a href="#">Patch List</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">
      Submit New Patch
    </h2>
    <div class="inner">
      <div class="patch_list_entry">
        <div class="patch_list_info_title">
          <div class="patch_list_category">
            Extra Long Category Name: 
          </div>
          <div class="patch_list_name">
            I am the Patch Name
          </div>
          <div class="patch_list_revision">
            Revision 11(12)<div class="patch_list_other_revisions"> plus 10 more</div>
          </div>
        </div>
        <div class="patch_list_info">
          <div class="patch_list_devices">
            <ul>
              <li>Pre</li>
              <li>Pixi</li>
            </ul>
          </div>
          <div class="patch_list_description">
            ah aigla sadfgh asdg asd gbad klfgl adglk dfg ladjkfg a dsf afgdkljgh dalfkgh dlkfgh dklfjgh kljadfgh kldjafhg ljkdahf gkl dfgklj dfag;
            <div class="patch_list_tweaks_files">
              <hr/>
              Modified files: 10 Tweaks: Yes (10)
            </div>
          </div>
          <div class="patch_list_versions">
            <ul>
              <li>1.4.5</li>
              <li>2.1.0</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>