    <div class="block">
      <div class="secondary-navigation">
        <ul class="wat-cf">
          <li class="first">
            <a href="#">New Patch</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h2 class="title">
          Submit New Patch
        </h2>
        <div class="inner">
          <form action="#" method="get" class="form">
            <div class="columns wat-cf">
              <div class="column left">
                <div class="group">
                  <label class="label">Patch Name</label> <input type="text" class="text_field"> <span class="description">The Visible Name of the Patch</span>
                </div>
                <div class="group">
                  <label class="label">Category</label> <select name="category" class="select_field">
                    <option>
                      One
                    </option>
                    <option>
                      Two
                    </option>
                  </select> <br/><span class="description">Category of the Patch</span>
                </div>
              </div>
              <div class="column right">
                <p>
                 <b>Instructions</b><br/>
                 <i>Step 1 of 2</i>
                </p>
                <p>
                  To create a new patch we first need the patch's name and category.  The patch name cannot be already taken in the system as well, they must be unique.
                  </p>
              </div>
              </div>
            <div class="group navform wat-cf">
              <button class="button" type="submit"><img src="images/icons/tick.png" alt="Continue"> Continue</button> <a href="#header" class="button"><img src="images/icons/cross.png" alt="Cancel"> Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="block">
      <div class="secondary-navigation">
        <ul class="wat-cf">
          <li class="first">
            <a href="#">New Revision</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h2 class="title">
          Submit New Patch Revision (Step x of x)
        </h2>
        <div class="inner">
          <form action="#" method="get" class="form">
            <div class="columns wat-cf">
              <div class="column left">
                <div class="group">
                  <label class="label">Patch Name</label> <input type="text" class="text_field" value="Patch Name" disabled="disabled"> <span class="description">The Visible Name of the Patch</span>
                </div>
                <div class="group">
                  <label class="label">Patch Home Page</label> <input type="text" class="text_field" value="localhost"> <span class="description">The Patch Homepage (IE Wiki article, Forum Thread)</span>
                </div>
                <div class="group">
                  <label class="label">Patch File</label> <input type="file" class="text_field"> <span class="description">Patch File to Upload</span>
                </div>
                <div class="group">
                  <label class="label">Tweaks File</label> <input type="file" class="text_field"> <span class="description">(Optional) Tweaks File to Upload</span>
                </div>
                <div class="group">
                  <label class="label">Description</label>
                  <textarea class="text_area" rows="10" cols="80"></textarea>
                  <span class="description">Description of the Patch</span>
                  </div>
              </div>
              <div class="column right">
                  <div class="group">
                    <label class="label">webOS Versions</label>
                    <div><input type="checkbox" name="checkbox" id="checkbox_1" class="checkbox" value="1"> <label for="checkbox_1" class="checkbox">Option 1</label></div>
                    <div><input type="checkbox" name="checkbox" id="checkbox_2" class="checkbox" value="1"> <label for="checkbox_2" class="checkbox">Option 2</label></div>
                    <div><input type="checkbox" name="checkbox" id="checkbox_3" class="checkbox" value="1"> <label for="checkbox_3" class="checkbox">Option 3</label></div>
                    <span class="description">WebOS versions that this patch applies to</span>
                  </div>
                  <div class="group">
                    <label class="label">Devices</label>
                    <div><input type="checkbox" name="checkbox" id="checkbox_1" class="checkbox" value="1"> <label for="checkbox_1" class="checkbox">Option 1</label></div>
                    <div><input type="checkbox" name="checkbox" id="checkbox_2" class="checkbox" value="1"> <label for="checkbox_2" class="checkbox">Option 2</label></div>
                    <div><input type="checkbox" name="checkbox" id="checkbox_3" class="checkbox" value="1"> <label for="checkbox_3" class="checkbox">Option 3</label></div>
                    <span class="description">Devices that this patch applies to</span>
                  </div>
                  <div class="group">
                  <label class="label">Equivalent Revision</label>
                  <select>
                    <option></option>
                    <option>Revision Blah</option>
                  </select><br/>
                  <span class="description">(Option) A Revision that will be marked as identical to this one</span>
                  </div>
              </div>
              </div>
            <div class="group navform wat-cf">
              <button class="button" type="submit"><img src="images/icons/tick.png" alt="Continue"> Continue</button> <a href="#header" class="button"><img src="images/icons/cross.png" alt="Cancel"> Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="secondary-navigation">
        <ul class="wat-cf">
          <li class="first">
            <a href="#">New Revision</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h2 class="title">
          Submit New Patch Revision (Step x of x)
        </h2>
        <div class="inner">
          <form action="#" method="get" class="form">
            <div class="columns wat-cf">
              <div class="column left">
                <div class="group">
                    <label class="label">Screenshot</label> <input type="file" class="text_field"><input type="button" value="remove"> <span class="description">Screenshot</span>
                 
                </div>
                <div class="group">
                    <label class="label">Screenshot</label> <input type="file" class="text_field"> <span class="description">Screenshot</span>
                 
                </div>
                <div class="group">
                    <label class="label">Screenshot</label> <input type="file" class="text_field"> <span class="description">Screenshot</span>
                 
                </div>
                <div class="group">
                Add New Screenshot <input type="button" value='Add'>
                </div>
              </div>
              <div class="column right">
                <div class="group">
                     <label class="label">Maintainer</label> <input type="file" class="text_field"><input type="button" value="remove"> <span class="description">Maintainer</span>

                 </div>
                 <div class="group">
                     <label class="label">Maintainer</label> <input type="file" class="text_field"> <span class="description">Maintainer</span>

                 </div>
                 <div class="group">
                     <label class="label">Maintainer</label> <input type="file" class="text_field"> <span class="description">Maintainer</span>

                 </div>
                 <div class="group">
                 Add New Maintainer <input type="button" value='Add'>
                 </div>
              </div>
              </div>
            <div class="group navform wat-cf">
              <button class="button" type="submit"><img src="images/icons/tick.png" alt="Continue"> Continue</button> <a href="#header" class="button"><img src="images/icons/cross.png" alt="Cancel"> Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="block">
      <div class="secondary-navigation">
        <ul class="wat-cf">
          <li class="first">
            <a href="#">New Revision</a>
          </li>
        </ul>
      </div>
      <div class="content">
        <h2 class="title">
          Submit New Patch Revision (Step x of x)
        </h2>
        <div class="inner">
          <form action="#" method="get" class="form">
            <div class="columns wat-cf">
              <div class="column left">
                <div class="group">
                  <label class="label">Extra Information</label>
                  <textarea class="text_area" rows="10" cols="80"></textarea>
                  <span class="description">Any extraneous information you feel the admins should see</span>
                  </div>
              </div>
              <div class="column right">
                <p><b>Summary:</b></p>
                <p>Patch Name: Foo Bar Gee Whiz</p>
                <p>Category: Awesomeness</p>
                <p>Files: Yes(5)</p>
                <p>Tweaks: Yes(4)</p>
                <p>WebOS Version: Foo Bar Gee Wiz</p>
                <p>Device: One Two Mouse Shoe</p>
              </div>
              </div>
            <div class="group navform wat-cf">
              <button class="button" type="submit"><img src="images/icons/tick.png" alt="Continue"> Finish</button> <a href="#header" class="button"><img src="images/icons/cross.png" alt="Cancel"> Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>